@font-face {
    font-family: "Chivo-Black";
    src: url("../fonts//Chivo-Regular.ttf");
}

@font-face {
    font-family: "Chivo-Black-Bold";
    src: url("../fonts/Chivo-Bold.ttf");
}

body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Chivo-Black";
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.clear {
    background-image: url("../images/clear-bg.jpg");
}

.clouds {
    background-image: url("../images/clouds-bg.jpg");
}

.rain {
    background-image: url("../images/rain-bg.jpg");
}

.snow {
    background-image: url("../images/snow-bg.jpg");
}

.submit {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px transparent;
}

#app {
    min-height: 100vh;
    font-size: 1.25em;
    padding: 5%;
    .temperature:after {
        content: "°";
    }
    .wind-speed:after {
        content: " km/h";
    }
    .humidity:after {
        content: " g/m3";
    }
    .card {
        padding: 5%;
        border-radius: 50px;
        min-height: 80vh;
        background-color: rgba(255, 255, 255, 0.35);
        color: black;
        .main-infos {
            i {
                font-size: 3em;
            }
            .temp-celcius {
                font-weight: bold;
                font-size: 3em;
            }
        }
        // TODO: Media query pour format tel
        .search {
            .input-city {
                border: transparent;
                background-color: transparent;
                &:hover {
                    border-bottom: 1px solid black;
                }
                &:focus {
                    outline-style: none;
                }
            }
            i {
                margin-left: -10%;
                margin-top: 6%;
                position: relative;
            }
        }
    }
    .second-infos {
        .feel,
        .rain,
        .wind {
            width: 100%;
        }
        div {
            width: 100%;
        }
    }
}